name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, development ]
  workflow_dispatch:
    inputs:
      dotnet-logging:
        required: true
        type: choice
        default: minimal
        options:
          - quiet
          - minimal
          - normal
          - detailed
          - diagnostic

concurrency:
  group: ${{ github.workflow_ref }}@${{ github.ref }}-healthchecks
  cancel-in-progress: true

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

permissions:
  actions: read
  contents: write
  pull-requests: write
  security-events: write

jobs:
  all:
    name: Build & Tests
    uses: dailydevops/pipelines/.github/workflows/build-dotnet-dynamic.yml@11b08467e157fd61ba609a1196d74f3c7a91147b # 1.3.20
    with:
      dotnetLogging: ${{ inputs.dotnet-logging }}
      dotnetVersion: ${{ vars.NE_DOTNET_TARGETFRAMEWORKS }}
      enableCleanUpDockerDocker: true
      failFast: false
      script-path: ./scripts/Collect-TestProjects.ps1
      solution: ./HealthChecks.slnx
    secrets: inherit
