name: NuGet Package

on:
  workflow_run:
    workflows: [Build & Tests]
    types: [completed]
    branches: [main]

permissions:
  actions: read
  contents: write
  pull-requests: write

concurrency:
  group: publish-nuget
  cancel-in-progress: true

jobs:
  nuget:
    name: Publish
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    uses: dailydevops/pipelines/.github/workflows/publish-nuget.yml@5a228ee7b90d3478d2e538a1ef7d6dbdd949116e # 1.3.10
    with:
      workflowName: ${{ github.event.workflow_run.name }}
      artifactPattern: release-packages-*
      environment: NuGet
      runId: ${{ github.event.workflow_run.id }}
    secrets: inherit
