name: NuGet Package

on:
  workflow_run:
    workflows: [Build & Tests]
    types: [completed]
    branches: [main]

permissions:
  actions: read
  contents: write

concurrency:
  group: publish-nuget
  cancel-in-progress: true

jobs:
  nuget:
    name: Publish
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    uses: dailydevops/pipelines/.github/workflows/publish-nuget.yml@615742a7d420dfa5b5f87c279f119f1db055bb3b # 1.2.28
    with:
      workflowName: ${{ github.event.workflow_run.name }}
      artifactPattern: release-packages-*
      environment: NuGet
      runId: ${{ github.event.workflow_run.id }}
    secrets: inherit
