on:
  workflow_call:
    inputs:
      dotnet-version:
        required: false
        type: string
        default: '10.0.x'
      dotnet-logging:
        required: false
        type: string
        default: minimal
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      solution:
        required: true
        type: string
      solution-version:
        required: true
        type: string
    secrets:
      CODECOV_TOKEN:
        required: false

permissions:
  contents: read

jobs:
  testing:
    name: Testing .NET solution
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    env:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ github.token }}

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: ${{ inputs.dotnet-version }}
        global-json-file: ./global.json

    - name: Restore dependencies
      run: dotnet restore ${{ inputs.solution }} -v ${{ inputs.dotnet-logging }}

    - name: Build
      run: dotnet build ${{ inputs.solution }} -v ${{ inputs.dotnet-logging }} -c Release --no-restore /p:Version=${{ inputs.solution-version }}

    - name: Download Build files
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        pattern: coverage-*
        merge-multiple: true

    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@ee0ae774f6d3afedcbd1683c1ab21b83670bdf8e # v5.5.1
      with:
        reports: '${{ github.workspace }}/**/*.cobertura.xml'
        targetdir: '${{ github.workspace }}/coveragereports'
        reporttypes: 'Cobertura;MarkdownSummaryGithub'

    - name: Upload coverage into summary
      if: ${{ runner.os != 'Windows' }}
      run: |
        cat $GITHUB_WORKSPACE/coveragereports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

    - name: Update codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      if: ${{ env.codecov_token != '' }}
      with:
        token: ${{ env.codecov_token }}
        fail_ci_if_error: true
        files: ${{ github.workspace }}/coveragereports/Cobertura.xml

    - name: Upload ReportGenerator
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: always()
      with:
        name: reportgenerator-${{ inputs.runs-on || 'ubuntu-latest' }}-${{ hashFiles(inputs.solution) }}
        path: |
          ${{ github.workspace }}/coveragereports/**/*.*
