on:
  workflow_call:
    inputs:
      dotnet-logging:
        required: false
        type: string
        default: quiet
      dotnet-version:
        required: false
        type: string
        default: 8.x
      dotnet-quality:
        required: false
        type: string
        default: ga
      execution-name:
        required: true
        type: string
        default: default
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      solution:
        required: true
        type: string
      solution-version:
        required: true
        type: string
      test-filter:
        required: false
        type: string
        default: ''
    secrets:
      CODECOV_TOKEN:
        required: false

permissions:
  contents: write

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  testing:
    name: Testing .NET solution
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    env:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ github.token }}

    - name: Free Disk Space - Docker Images
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      if: ${{ runner.os == 'Linux' }}
      with:
        android: true
        haskell: true
        dotnet: false
        large-packages: false
        tool-cache: false
        swap-storage: false
        docker-images: true

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: ${{ inputs.dotnet-version || '10.x' }}
        global-json-file: ./global.json

    - name: Restore dependencies
      run: dotnet restore ${{ inputs.solution }} -v ${{ inputs.dotnet-logging || 'minimal' }}

    - name: Build
      run: dotnet build ${{ inputs.solution }} -c Release -v ${{ inputs.dotnet-logging || 'minimal' }} --no-restore /p:GeneratePackageOnBuild=false /p:Version=${{ inputs.solution-version }}

    - name: Test
      id: test
      env:
        TUNIT_DISABLE_GITHUB_REPORTER: true
      run: |
        dotnet test  --solution ${{ inputs.solution }}  -c Release  -v ${{ inputs.dotnet-logging || 'minimal' }}  --no-build --no-restore /p:Version=${{ inputs.solution-version }} --results-directory ./TestResults --ignore-exit-code 8 ${{ inputs.test-filter != '' && format('--treenode-filter "{0}"', inputs.test-filter) || ''}} -- --coverage --coverage-output-format cobertura

    - name: Upload Coverage Reports
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: coverage-${{ inputs.runs-on || 'ubuntu-latest' }}-${{ hashFiles(inputs.solution) }}-${{ inputs.execution-name }}
        path: |
          **/*.cobertura.xml
