name: Update packages in README.md

on:
  schedule:
    # Run every day at 4:21 AM UTC
    # https://crontab.guru/#21_4_*_*_*
    - cron: '21 4 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Update packages in README.md
      run: |
        ./scripts/update-readme.ps1 -WorkingDirectory ${{ github.workspace }}
      shell: pwsh

    - name: Create Pull Request
      id: pr
      uses: peter-evans/create-pull-request@v7.0.9
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: 'docs: Update nuget packages in README.md'
        title: 'docs: Update nuget packages in README.md'
        body: |
          This pull request updates the nuget packages in the README.md file.
